@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-roboto);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  margin: 0;
  padding: 0;
}
@layer components {
  .glass-header {
    @apply backdrop-blur-md bg-white/60 dark:bg-white/10 border-b border-white/20 sticky top-0 z-50;
  }

  .glass-icon {
    @apply w-10 h-10 rounded-full bg-white/70 dark:bg-white/10 backdrop-blur-sm flex items-center justify-center shadow-md hover:scale-105 transition;
  }

  .glass-logo {
    @apply text-lg font-bold text-gray-800 dark:text-white;
  }

  .glass-icon-svg {
    @apply w-5 h-5 text-gray-800 dark:text-white;
  }
  /* поиск  */
  .search-bar {
    @apply flex items-center gap-2 px-4 py-2 w-full sm:w-64 bg-white/70 dark:bg-white/10 backdrop-blur-md rounded-xl shadow-sm transition focus-within:ring-2 focus-within:ring-blue-500;
  }

  .search-icon {
    @apply w-5 h-5 text-gray-500 dark:text-gray-300;
  }

  .search-input {
    @apply text-sm text-gray-800 dark:text-white placeholder-gray-500 dark:placeholder-gray-400;
  }
  .menu-hamburger {
    @apply text-sm uppercase font-semibold text-black px-4 py-2 rounded-full bg-white/70 dark:bg-white/10 backdrop-blur-sm shadow-md transition hover:scale-105;
  }
  /* поиск конец */
}
