@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-roboto);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
@layer components {
  .slick-dots li:nth-child(n + 6) {
    display: none !important;
  }
}

@layer components {
  /* секция  */
  .section-bottom {
    @apply mb-4;
  }
  /* секция end  */
  .glass-header {
    @apply fixed top-0 left-0 right-0 z-50 backdrop-blur-md bg-white/60 dark:bg-white/10 border-b border-white/20;
  }

  .glass-icon {
    @apply w-10 h-10 rounded-full bg-white/70 dark:bg-white/10 backdrop-blur-sm flex items-center justify-center shadow-md hover:scale-105 transition;
  }

  .glass-logo {
    @apply text-lg font-bold text-gray-800 dark:text-white;
  }

  .glass-icon-svg {
    @apply w-6 h-6 text-gray-800 dark:text-white;
  }
  /* поиск  */
  .search-bar {
    @apply flex items-center gap-2 px-4 py-2 w-full sm:w-64 bg-white/70 dark:bg-white/10 backdrop-blur-md rounded-xl shadow-sm transition focus-within:ring-2 focus-within:ring-blue-500;
  }

  .search-input {
    @apply text-sm text-gray-800 dark:text-white placeholder-gray-800 dark:placeholder-gray-400;
  }
  .menu-hamburger {
    @apply text-sm uppercase font-semibold text-black px-4 py-2 rounded-full bg-white/70 dark:bg-white/10 backdrop-blur-sm shadow-md transition hover:scale-105;
  }
  .button-block-card {
    @apply bg-white p-2 rounded-4xl shadow-md cursor-pointer;
  }
  @media (max-width: 490px) {
    .not-found-box {
      @apply absolute  left-0 w-90 bg-gray-100;
    }
  }

  /* поиск конец */

  /* попульярніе категории и h2 везде   */
  .h3-title {
    @apply text-xl font-semibold;
  }
}
